# Configuration for publishing PiJuice info to MQTT

mqtt:
  broker: 127.0.0.1
  port: 1883
  username: mymqttusername  # Login to broker. Delete if not required
  password: mymqttpassword  # Login to broker. Delete if not required

homeassistant:
  topic: homeassistant  # MQTT Autodiscovery root topic
  sensor: true  # Publish autodiscovery for PiJuice sensor
  expire_after: 90 # If set, it defines the number of seconds after the sensor’s state expires, if it’s not updated. After expiry, the sensor’s state becomes unavailable

publish_period: 30  # How long to wait between publishing information
publish_online_status: true # Indicate if a availability message must be systematically published
#hostname: myrpi  # Identifier for this Raspberry Pi, defaults to the hostname 

