[Unit]
Description=PiJuice to MQTT
After=multi-user.target
[Service]
WorkingDirectory=/path/to/repo/PiJuice-MQTT
User=pi
Type=idle
ExecStart=/usr/bin/python3 /path/to/repo/PiJuice-MQTT/pijuicemqtt.py
Restart=always
[Install]
WantedBy=multi-user.target
